<footer class="bg-base02 py-5">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-4">
                <a href="https://unige.it/it/">
                    <img class="w-50" src="images/unige.png">
                </a>
            </div>
            <div class="col-4">
                <a href="/">
                    <img class="w-75" src="images/zenhack.png">
                </a>
                <p class="mt-3">A Zena based CTF Team</p>
            </div>
            <div class="col-4">
                <a href="https://www.dibris.unige.it/">
                    <img class="w-50" src="images/dibris.png">
                </a>
            </div>
        </div>
    </div>
</footer>