<footer class="bg-base02 py-5">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-3 col-lg-2">
                <a href="https://unige.it/it/">
                    <img class="w-75" src="/images/unige.png">
                </a>
            </div>
            <div class="col-6 col-lg-4">
                <a href="/">
                    <img class="w-75" src="/images/zenhack.svg">
                </a>
            </div>
            <div class="col-3 col-lg-2">
                <a href="https://www.dibris.unige.it/">
                    <img class="w-75" src="/images/dibris.png">
                </a>
            </div>
        </div>
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-12 col-lg-8">
                <div class="mt-3">
                    <a href="https://zenhack.it">ZenHack</a>: CTF Team of <a href="https://unige.it">Università di
                        Genova</a>, Italy &#127470;&#127481;<br>
                    Capturing flags since 2017 &#x1F6A9;
                </div>
                <div class="mt-3">
                    <a class="mx-1" target="_blank" href="mailto:info@zenhack.team" data-toggle="tooltip"
                        data-placement="bottom" title="info@zenhack.team"><i
                            class="far fa-2x fa-fw fa-envelope"></i></a>
                    <a class="mx-1" target="_blank" href="https://twitter.com/ZenHackTeam" data-toggle="tooltip"
                        data-placement="bottom" title="@ZenHackTeam"><i class="fab fa-2x fa-fw fa-twitter"></i></a>
                    <a class="mx-1" target="_blank" href="https://www.facebook.com/zenhackteam/" data-toggle="tooltip"
                        data-placement="bottom" title="@zenhackteam"><i class="fab fa-2x fa-fw fa-facebook"></i></a>
                    <a class="mx-1" target="_blank" href="https://github.com/ZenHackTeam" data-toggle="tooltip"
                        data-placement="bottom" title="@ZenHackTeam"><i class="fab fa-2x fa-fw fa-github"></i></a>
                    <a class="mx-1" target="_blank" href="https://ctftime.org/team/37768/" data-toggle="tooltip"
                        data-placement="bottom" title="ctftime"><i class="fas fa-2x fa-fw fa-flag"></i></a>
                    <a class="mx-1" target="_blank" href="https://www.youtube.com/c/ZenHackTeam/videos" data-toggle="tooltip"
                        data-placement="bottom" title="@ZenHackTeam"><i class="fab fa-2x fa-fw fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>