<footer class="bg-base02 py-5">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-4">
                <img class="w-50" src="images/unige.png">
            </div>
            <div class="col-4">
                <img class="w-75" src="images/zenhack.png">
            </div>
            <div class="col-4">
                <img class="w-50" src="images/dibris.png">
            </div>
        </div>
    </div>
</footer>