<head>

    <base href="https://zenhack.it/ZenHackWebsite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ZenHack Team">

    <meta name="author" content="ZenHack">
    <meta name="robots" content="index,follow">
    <meta name="rating" content="general" />

    <title>ZenHack Team</title>

    <meta name="msapplication-TileColor" content="#002b36">
    <meta name="theme-color" content="#002b36">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="ZenHack Team" />
    <meta name="twitter:creator" content="ZenHack" />
    <meta name="twitter:title" content="ZenHack" />
    <meta name="twitter:description" content="ZenHack Team">
    <meta meta="twitter:image" content="https://zenhack.it/social.png">

    <meta property="og:type" content="website">
    <meta property="og:title" content="ZenHack">
    <meta property="og:description" content="ZenHack Team">
    <meta property="og:url" content="https://zenhack.it/">
    <meta property="og:image" content="https://zenhack.it/social.png">
    <meta property="og:site_name" content="ZenHack" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
